aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
cssselect==1.1.0
discord.py==1.7.2
finviz @ git+https://github.com/membriux/finviz-api@d48808548074e9b0c6b6cd68e3b5ff7ca3203754
Flask==2.0.1
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
multidict==5.1.0
python-dotenv==0.17.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
tenacity==7.0.0
tqdm==4.61.0
typing-extensions==3.10.0.0
urllib3==1.26.5
user-agent==0.1.9
Werkzeug==2.0.1
yarl==1.6.3
